div.blockwrapper {
    border:1px solid red;
    z-index:1000;
    position:relative;
    display:block;
}

div.blockname {
    position:relative;
    border:1px solid green;
    font-size: 10px!important;
    color:green!important;
    font-weight:bold!important;
    font-style: normal!important;
    font-family: Verdana,Arial!important;
}